* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* From Style file
### Primary
- Pink: hsl(322, 100%, 66%)
### Neutral
- Very Pale Cyan: hsl(193, 100%, 96%)
- Very Dark Cyan: hsl(192, 100%, 9%)
- Grayish Blue: hsl(208, 11%, 55%)
### Body Copy
- Font size: 18px
### Headings
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 600
### Body, Call-to-actions
- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 700
55%)
*/
:root {
    --primary-pink:hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --item-box: 30px 10px 30px 60px;
    --item-sub-box: 20px;
}
body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    /* Call-to-actions */
    font-family: 'Open Sans', sans-serif;
    max-width: 1440px;
    height: auto;
    box-sizing: border-box;
}
p {
    font-size: .70em;
    color: rgb(77, 67, 67);
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(253, 253, 253);
    border: solid 1px black;
    box-sizing: border-box;
}
.item1 {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background-image: url(images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: .5;
}
.item1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    padding: var(--item-box);
    width: 95%;
    height: auto;
}
.item1-1a {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
.item1-1a img {
    display: grid;
    box-sizing: border-box;
    width: 40%;
}
.item1-1b {
    display: grid;
    box-sizing: border-box;
    justify-content: flex-end;
    width: 100%;
}
.item1-1b button {
    display: grid;
    width: 150px;
    max-height: 30px;
    box-sizing: border-box;
    padding: 7px 15px;  
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(247, 238, 238);
    border-radius: 25px;
    background-color: rgb(252, 253, 253);
}
.item1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    padding: var(--item-box);
    width: 95%;
    height: auto;
}
.item1-2a {
    display: grid;
    box-sizing: border-box;
    padding-right: 30px;
    width: 100%;
    height: auto;
    align-content: center;
}
.item1-2a h3 {
    padding-bottom: 10px;
}
.item1-2a button {
    width: 200px;
    box-sizing: border-box;
    padding: 8px 15px;  
    border: none;
    border-radius: 25px;
    background-color: var(--primary-pink);
    color: blanchedalmond;
    margin-top: 20px;
}
.item1-2b {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
.item1-2b img {
    width: 100%;
}
.item2 {
    display: grid;
    grid-template-columns: 6fr 4fr;
    box-sizing: border-box;
    padding: var(--item-box);
    box-shadow: 1px 1px 4px 4px rgb(247, 238, 238);
    margin: 80px auto 0 auto;
    width: 90%;
    height: auto;
}
.item2-1 {
    display: grid;
    box-sizing: border-box;
    align-content: center;
    width: 90%;
    height: auto;
}
.item2-1 h4 {
    padding-bottom: 10px;
}
.item2-2 {
    display: grid;
    box-sizing: border-box;
    align-content: center;
    width: 90%;
    height: auto;
}
.item2-2 img {
    box-sizing: border-box;
    display: grid;
    width: 100%;
}
.item3 {
    display: grid;
    grid-template-columns: 4fr 6fr;
    box-sizing: border-box;
    width: 90%;
    height: auto;
    padding: var(--item-box);
    box-shadow: 1px 1px 4px 4px rgb(247, 238, 238);
    margin: 30px auto 0 auto;
}
.item3-1 {
    display: grid;
    box-sizing: border-box;
    align-content: center;
    width: 90%;
}
.item3-1 img {
    box-sizing: border-box;
    width: 100%;
}
.item3-2 {
    display: grid;
    box-sizing: border-box;
    align-content: center;
    width: 95%;
}
.item3-2 h4 {
    padding-bottom: 10px;
}

.item4 {
    display: grid;
    grid-template-columns: 6fr 4fr;
    box-sizing: border-box;
    padding: var(--item-box);
    box-shadow: 1px 1px 4px 4px rgb(247, 238, 238);
    margin: 30px auto 0 auto;
    width: 90%;
    height: auto;
    margin-bottom: 80px;
}
.item4-1 {
    display: grid;
    box-sizing: border-box;
    align-content: center;
    width: 90%;
    height: auto;
}
.item4-1 h4 {
    padding-bottom: 10px;
}
.item4-2 {
    display: grid;
    box-sizing: border-box;
    align-content: center;
    width: 90%;
    height: auto;
}
.item4-2 img {
    box-sizing: border-box;
    width: 100%;
}
.item5 {
    display: grid;  
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgb(247, 238, 238);
    width: 50%;
    height: auto;
    justify-self: center;
    padding-top: 35px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-bottom: -50px;
    z-index: 1;
}
.item5 button {
    display: grid;
    justify-self: center;
    /*width: 300px;*/
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    padding: 12px 15px;  
    border: none;
    border-radius: 25px;
    background-color: var(--primary-pink);
    color: blanchedalmond;
}
.item5 h3 {
    padding-bottom: 20px;
    text-align: center; 
}
.item6 {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background-color: var(--very-dark-cyan);
    padding: 100px 60px 20px 60px;
}
.item6 img {
    filter: invert(100%);
}
.item7 {
    display: grid;  
    grid-template-columns: 2fr 2fr 1fr;
    box-sizing: border-box;
    background-color: var(--very-dark-cyan);
    padding: 10px 60px 30px 60px;
}
.item7-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 50px; 
}
.item7-1-a {
    display: grid;
    grid-template-columns: 1fr 9fr; 
    padding-bottom: 20px;
}
.item7 p {
    color: rgb(247, 213, 213);
}
.item7-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding-left: 30px;
}
.item7-2a {
    display: grid;
    align-self: flex-start;
    line-height: 30px;
}
.item7-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding-top: 10px;
}
.item7-3 img {
    filter: invert(10%);
}
.item8 {
    display: grid;  
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background-color: var(--very-dark-cyan);
    padding: 10px 60px 30px 60px;
}
.item8 p {
    color: rgb(247, 213, 213);
    text-align: end;
    font-size: .5em;
}